<div class="main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm col-md-offset-1">
        <div class="header-logo d-flex col-sm">
          <a href="index.html">
            <img class="nonsticky-logo img-full" src="assets/images/logo/logo.svg" alt="Header Logo">
          </a>
        </div>
      </div>
      <div class="col-sm">
        <nav class="main-nav d-none d-lg-flex">
          <ul class="nav ">
            <li>
              <a class="active" href="index.html">
                <span class="menu-text dropdown"> Home</span>
                <i class="fa fa-angle-down"></i>
              </a>
            </li>
            <li>
              <a href="latest-news.html">
                <span class="menu-text">Latest News</span>
              </a>
            </li>
            <li>
              <a href="about.html">
                <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <span class="menu-text"> Service</span>
              </a>
            </li>
            <li>
              <a href="shop.html">
                <span class="menu-text"> Shop</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-submenu dropdown-hover">
                <li><a href="device.html">Device</a></li>
                <li><a href="accessories.html">Accessories Two</a></li>
                <li><a href="router.html">Router</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">
                <span class="menu-text">Contact us</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</div>
</div>

