<div class="main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-xl-2 col-md-6 col-6">
        <div class="header-logo d-flex align-items-center">
          <a href="index.html">
            <img class="nonsticky-logo img-full" src="assets/images/logo/logo.png" alt="Header Logo">
            <!--              <img class="sticky-logo img-full" src="assets/images/logo/white-logo.png" alt="Header Logo">-->
          </a>
        </div>
      </div>
      <div class="col-lg-10 col-md-6 col-6 d-flex justify-content-end">
        <nav class="main-nav d-none d-lg-flex">
          <ul class="nav ">
            <li>
              <a class="active" href="index.html">
                <span class="menu-text dropdown"> Home</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-submenu dropdown-hover">
                <li><a class="active" href="index.html">Home One</a></li>
                <li><a href="index-2.html">Home Two</a></li>
              </ul>
            </li>
            <li>
              <a href="about.html">
                <span class="menu-text">About</span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <span class="menu-text"> Service</span>
              </a>
            </li>
            <li>
              <a href="portfolio.html">
                <span class="menu-text"> Portfolio</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-submenu dropdown-hover">
                <li><a href="portfolio.html">Portfolio One</a></li>
                <li><a href="portfolio-2.html">Portfolio Two</a></li>
                <li><a href="portfolio-details.html">Portfolio Details</a></li>
              </ul>
            </li>
            <li>
              <a href="blog.html">
                <span class="menu-text"> Blog</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-submenu dropdown-hover">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li>
              <a href="contact.html">
                <span class="menu-text">Contact</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-right-area main-nav">
          <ul class="nav">
            <li class="account-menu-wrap d-none d-lg-flex">
              <a href="#" class="off-canvas-menu-btn">
                <i class="fa fa-bars"></i>
              </a>
            </li>
            <li class="search-box-menu d-block d-lg-none">
              <a href="#" class="off-canvas-search-btn">
                <span class="btn-search"><i class="fa fa-search"></i></span>
              </a>
            </li>
            <li class="mobile-menu-btn d-block d-lg-none">
              <a class="off-canvas-btn" href="#">
                <i class="fa fa-bars"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
