@import "../../assets/css/style.min.css";
div {
  background-color: #FFFFFF;
}
.main-nav > ul > li > a.active{
  color :  #000000;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  text-align: center;
}
.main-nav > ul > li > a .menu-text{
  color :  #000000;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  text-align: center;
}



