<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #000000;">
    <div class="container-child">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Commutronics</h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic">
            <mat-icon fab icon="facebook" class="white-text mr-4"></mat-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mat-icon fab icon="twitter" class="white-text mr-4"></mat-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mat-icon fab fab icon="google-plus" class="white-text mr-4"></mat-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mat-icon fab icon="linkedin" class="white-text mr-4"></mat-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mat-icon fab icon="instagram" class="white-text mr-4"></mat-icon>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <br>
      <hr class="seprator">
      <br>
      <!-- Grid row-->
    </div>
    <div class = "footer-container mx-5">
    <div class="text-center text-md-left mt-3 text-white ">
      <!-- Grid row -->
      <div class="row mt-3 ">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">About us</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>About Motorola Solutions</p>
          <p>Company Overview</p>
          <p>Supplier</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="product-container col-md-2 col-lg-2 col-xl-2  mb-4 ">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" >XIR P8600 SERIES</a>
          </p>
          <p>
            <a href="#!">XiR P6600i SERIES</a>
          </p>
          <p>
            <a href="#!">XiR P6600i SERIES</a>
          </p>
          <p>
            <a href="#!">XiR M8600i SERIES</a>
          </p>
          <p>
            <a href="#!"> Audio Accessories </a>
          </p>
          <p>
            <a href="#!"> Battery </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Your Account</a>
          </p>
          <p>
            <a href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mat-icon fas icon="home" class="mr-3"></mat-icon> No. 237, Section 2, Fuxing S Rd, Daan District, Taipei, Taiwan

          </p>
          <p>
            <mat-icon fas icon="envelope" class="mr-3"></mat-icon> info@example.com
          </p>
          <p>
            <mat-icon fas icon="phone" class="mr-3"></mat-icon>+886-2-2704-3922
          </p>
          <p>
            <mat-icon fas icon="fax" class="mr-3"></mat-icon>+886-2-2701-3743
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    </div>
    <!-- Footer Links -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="text-center py-3 bg-black">© 2021 Commutronics ENTERPRISE CO., LTD. All Rights Reserved.
    <a href="https://www.commutronics.com.tw/"> Commutronics.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
