<div class="service-section pb-90">
  <div class="container">
    <div class="row text-center mb-10">
      <div class="section-title" >
        <h2 class="title">Our Services</h2>
        <h6 class="sub-title mb-0">The Ultimate Business Template</h6>
      </div>
    </div>
    <div class="row mb-n10">
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="100">
          <div class="service-icon">
            <i class="fa fa-flask"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Mobile App Development</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="300">
          <div class="service-icon">
            <i class="fa fa-pencil-square-o"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Ui/Ux Design</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="600">
          <div class="service-icon">
            <i class="fa fa-compass"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Wireframing Task</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="100">
          <div class="service-icon">
            <i class="fa fa-codepen"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Web Development</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="300">
          <div class="service-icon">
            <i class="fa fa-book"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Article Writting</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-10">
        <div class="single-service-wrapper" data-aos="fade-up" data-aos-delay="600">
          <div class="service-icon">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="service-content">
            <h4 class="title">Content Management</h4>
            <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu ornare ante. Proin aliquam odio id lorem finibus, a ullamcorper arcu posuere.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
