<ngb-carousel class ="no-indicators">
  <ng-template ngbSlide id="sliderOne">
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/slider/1-1.jpeg" alt="Carousel One">
    </div>
    <div class="carousel-caption">
      <h2 class="title" data-splitting>Best Company</h2>
      <h4 class="sub-title">Starting and growing your own business is one thing.
        Growing pains are an inevitable part of any successful small business. </h4>
    </div>
  </ng-template>
  <ng-template ngbSlide id="sliderTwo">
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/slider/1-2.png" alt="Carousel Two">
    </div>
    <div class="carousel-caption">
      <h3>Title</h3>
      <p>Aenean malesuada nisi ut commodo semper, Sit amet sagittis dolor.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide id="sliderThree">
    <div class="picsum-img-wrapper">
      <img src="../../assets/images/slider/1-3.png" alt="Carousel Three">
    </div>
    <div class="carousel-caption">
      <h3>Title</h3>
      <p>Commodo semper sit amet sagittis dolor.</p>
    </div>
  </ng-template>
</ngb-carousel>
